/*! Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Dancing+Script&family=Honk&family=Overpass:wght@100..900&family=Protest+Guerrilla&family=Teko:wght@300..700&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

#root {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, lightgoldenrodyellow,lightgreen);
    
}

.userInput {
    width: 30%;
    /* border: 1px solid black; */
    display: flex;
    /* height: 100vh; */
    flex-direction: column;
    align-items: start;
    justify-content: start;
    font-family: "Teko", sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    border-right: 2px solid;
}
.cvDisplay {
    width: 70%;
    /* border: 1px solid black; */
    /* height: 100vh; */
  
}
.btns{
    /* border: 1px solid black; */
    width: 80%;
    margin: 0.5rem auto;
    display: flex;
    justify-content: space-around;
}
.btns>:nth-child(1){
    /* width: 2rem;
    height: 2rem; */
    padding: 0.6rem;
    width: 3.5rem;
    font-size: 1.8rem;
    color: white;
    font-style: italic;
    font-family: "Protest Guerrilla", sans-serif;
    border-radius: 30%;
    border: none;
    background: linear-gradient(90deg,rgb(154, 222, 123),rgb(80, 141, 105));
    transition: transform 0.2s ease-out;
}
.btns>:nth-child(1):hover{
transform: scale(1.2);
box-shadow: 2px 2px 20px rgb(80, 141, 105);
cursor: pointer;
}
.btns>:nth-child(1):active{
    background: rgb(130, 205, 71);
    transform: scale(1);

}

.btns>:nth-child(2){
    /* width: 2rem;
    height: 2rem; */
    padding: 0.6rem;
    width: 3.5rem;
    font-size: 1.6rem;
    color: white;
    font-style: italic;
    font-family: "Protest Guerrilla", sans-serif;
    border-radius: 30%;
    border: none;
    background: linear-gradient(90deg,rgb(191, 49, 49),rgb(125, 10, 10));
    transition: transform 0.2s ease-out;
}
.btns>:nth-child(2):hover{
transform: scale(1.2);
box-shadow: 2px 2px 20px rgb(125, 10, 10);
cursor: pointer;
}
.btns>:nth-child(2):active{
    background: rgb(216, 0, 50);
    transform: scale(1);

}